
.eyes {
    /* background-color: var(--black); */
    /* padding: .5vw; */
    
    box-sizing: border-box;
    border-radius: 50vw;
    position: relative;
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: default;

    .eyelid {
        background-color: var(--white);
        position: relative;
        border: 2px solid black;
        border-radius: 50%;
        overflow: hidden;

        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;

            width: 100%;
            height: 100%;
            z-index: 1;
            transition: height .3s ease;
        }

    }

    .eye {
        position: relative;
        display: inline-block;
        height: 3vw;
        width: 2.5vw;
        background: white;
        border-radius: 50%;


        &:after,
        .iris,
        .iris:after {
            content: '';
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            
        }

        .iris,
        .iris:after {

            top: 50%;
            left: 50%;
        }

        .iris {
            height: 10vw;
            width: 6vw;
            background: var(--white);
            transform: translate(-50%, -50%);

            &:after {
                background: black;
                width: 2vw;
                height: 2vw;
                transform: inherit;
            }
        }
    }
}

.nose {
    width: .5vw;
}