

.clients {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  //flex-direction: column;
  
  ul{
    display: flex;
    



  }
  li{
    display: flex;
    flex-wrap: wrap;
    
    p{
      padding: 8px 16px;
      margin: 0;
    }
    
  }
  a {
    width: fit-content;
    
    
    

    &:hover{
      background-color: var(--accent);
    }
  }


}




