

.clients {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  //flex-direction: column;
  
  ul{
    display: flex;
    



  }
  li{
    display: flex;
    flex-wrap: wrap;
    
    p{
      padding: 8px 16px;
      margin: 0;
    }
    
  }
  a {
    width: fit-content;
    
    
    

    &:hover{
      background-color: var(--accent);
    }
  }


}

a.client{
  display: inline-flex;
  flex-wrap: wrap;
  padding: .25em;
  box-sizing: content-box;
  font-size: xx-large;
  background-color: var(--bg);
  border: 1px solid var(--text);
  font-size: calc((var(--widthA))/35);
  border-radius: 20px;
  line-height: 87%;
  margin-left: -.25em;
  margin-right: .375em;
  margin-bottom: -.25em;
  text-transform: u;
  &:hover{
    border: 1px solid var(--accent);
  }

}
