* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
  --widthA: 100vw;

  --radius-m: 20px;
  --alpha-hover: .5;
  --black: #131313;
  --black-light: #252525;
  --white: #fff;
  --gray-dark: #a0a0a0;
  --gray-light: #e7e7e7;
  --gray-middle: #e4e4e4;
  --accent: #4744EF;
  --accent2: #ffce13;
}

.page-enter-active,
.page-leave-active {

  transition: all .5s cubic-bezier(.68, .07, .68, .97);
}

.page-enter-from,
.page-leave-to {
  // transform: translateY(70px);
  opacity: 0;
  margin-top: 70px;
  /* filter: blur(1rem); */

}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../fonts/PPNeueMontreal-Medium.eot');
  src: url('../fonts/PPNeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/PPNeueMontreal-Medium.woff') format('woff'),
    url('../fonts/PPNeueMontreal-Medium.ttf') format('truetype'),
    url('../fonts/PPNeueMontreal-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.light-mode {
  --text: var(--black);
  --text-light: var(--gray-dark);
  --bg: var(--white);
  --bg-sec: var(--gray-light);
  --bg-third: var(--gray-middle);
  --hover: var(--accent);
}

.dark-mode {
  --text: var(--white);
  --bg: var(--black);
  --text-light: var(--gray-dark);
  --bg-sec: var(--black-light);
  --bg-third: var(--black-light);
  --hover: var(--accent);
}

@keyframes fade-in {
  from {
    //transform: translateY(70px);
    opacity: 0;
  }

  to {
    //transform: translateY(0px);
    opacity: 1;
  }
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  font-family: 'PP Neue Montreal', Arial, sans-serif;
  font-display: swap;
  font-weight: 500;
  transition: background 1s ease, color 1.3s ease;
  overflow-x: hidden;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.wrapper {
  padding-left: 330px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
  // .mobile{
  //   display: none;
  // }

  .desktop {
    display: block;
  }
}

nav {
  display: flex;
  width: 100%;
}

h1 {
  $widthA: 100vw;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -1px;
  
  font-size: calc((var(--widthA))/25);
  width: 100%;
  margin-bottom: 2rem;
  color: var(--text)
}

h2 {
  font-size: calc((var(--widthA))/35);
}

p {
  font-weight: 500;
  // font-size: calc((var(--widthA))/60);
  font-size: 24px;
}

a {
  font-size: 1.5rem;
  color: inherit;
  transition: all ease-out 300ms;
  text-decoration: none;
  transform: scale(1);
  background-color: var(--bg);

  &:hover {
    background-color: var(--hover);
    color: var(--gray-light);
    transition: all ease-in 50ms;
  }

  &:active {
    transform: scale(.95);
    transition: all ease-in 50ms;
  }
}


button {
  all: unset;
  position: relative;
  cursor: pointer;
  transition: all ease-out 300ms;
  font-family: 'PP Neue Montreal', Arial, sans-serif;
  font-weight: 500;
  background-color: transparent;
  transition: background-color 400ms ease-in-out;

  &:hover {
    transition: all ease-in 50ms;
    color: var(--gray-dark);
    background-color: transparent;
  }

  &:active {
    transform: scale(.95);
    transition: all ease-in 50ms;
  }
}

.off {
  display: none;
  cursor: default;
}

::selection {
  background: #ffce13;
}

/* Style the scrollbar background */
::-webkit-scrollbar {
  background: var(--bg);
  width: 10px;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--bg-third);

}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}




.header a {
  font-size: 28px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border-radius: var(--radius-m);
  //background-color: var(--bg, white);
  cursor: pointer;
}


.headline {
  background-color: red;
}

iframe {
  border-radius: 20px;
  overflow: hidden;
  animation: fade-in 1s ease-in-out;
}

img {
  width: 100%;
  background-color: var(--bg-sec);

}

.content-wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}

.half {
  width: 50%;

  img {
    width: 100%;
    border-radius: 20px;
    animation: fade-in 2s ease-in-out;

    &:placeholder-shown {
      background-color: #6e32e1;
    }
  }

  &.xl {
    width: 66%;
  }

  &.s {
    width: 33%;
  }
}

.cta-hero {
  display: flex;
  width: 100%;
  min-height: 12rem;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  font-size: calc((var(--widthA))/25);
  letter-spacing: -.03em;
  border-radius: 80px;
  margin: 20px 0;
  color: var(--white);
  cursor: url(/cursor1.png), auto;

  &:hover{
    background-color: var(--accent2);
    color: var(--black);
  }
}



@media (orientation: portrait) {

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }



  .wrapper {
    position: fixed;
    padding: 0;
    z-index: 999;
    overflow-y: scroll;
    height: 100dvh;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-wrap: wrap;

    .mobile {
      display: flex;

      a {
        background-color: var(--bg-third);

        &:hover {
          background-color: var(--accent);
        }
      }
    }

    &.desktop {
      display: none;
    }

    * {
      z-index: 999;

    }

    h1 {
      padding: 1rem 8px;
      font-size: xx-large;
    }

    .content-wrapper {
      flex-wrap: wrap;
    }

    .half {
      width: 100%;

      .xl {
        width: 100%;
      }
    }
  }
}