* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  --widthA: 100vw;

  --radius-m: 20px;
  --alpha-hover: 0.5;
  --black: #131313;
  --black-light: #252525;
  --white: #fff;
  --gray-dark: #a0a0a0;
  --gray-light: #e7e7e7;
  --gray-middle: #e4e4e4;
  --accent: #4744ef;
  --accent2: #ffce13;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s cubic-bezier(0.68, 0.07, 0.68, 0.97);
}

.page-enter-from,
.page-leave-to {
  // transform: translateY(70px);
  opacity: 0;
  margin-top: 70px;
  /* filter: blur(1rem); */
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Medium.eot");
  src: url("../fonts/PPNeueMontreal-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("../fonts/PPNeueMontreal-Medium.woff") format("woff"),
    url("../fonts/PPNeueMontreal-Medium.ttf") format("truetype"),
    url("../fonts/PPNeueMontreal-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.light-mode {
  --text: var(--black);
  --text-light: var(--gray-dark);
  --bg: var(--white);
  --bg-sec: var(--gray-light);
  --bg-third: var(--gray-middle);
  --hover: var(--accent);
}

.dark-mode {
  --text: var(--white);
  --bg: var(--black);
  --text-light: var(--gray-dark);
  --bg-sec: var(--black-light);
  --bg-third: var(--black-light);
  --hover: var(--accent);
}

@keyframes fade-in {
  from {
    //transform: translateY(70px);
    opacity: 0;
  }

  to {
    //transform: translateY(0px);
    opacity: 1;
  }
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  font-family: "PP Neue Montreal", Arial, sans-serif;
  font-display: swap;
  font-weight: 500;
  transition: background 1s ease, color 1.3s ease;
  overflow-x: hidden;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.wrapper {
  position: relative;
  padding-left: 330px;
  padding-top: 0px;
  padding-bottom: 25px;
  padding-right: 30px;
  // .mobile{
  //   display: none;
  // }

  .desktop {
    display: block;
  }
}

nav {
  display: flex;
  width: 100%;
}

h1,
h2 {
  $widthA: 100vw;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -1px;

  font-size: calc((var(--widthA)) / 25);
  width: 100%;
  margin-bottom: 2rem;
  color: var(--text);
}

p {
  font-weight: 500;
  // font-size: calc((var(--widthA))/60);
  font-size: 24px;
}

a {
  font-size: 1.5rem;
  color: inherit;
  transition: all ease-out 300ms;
  text-decoration: none;
  transform: scale(1);
  background-color: var(--bg);

  &:hover {
    background-color: var(--hover);
    color: var(--gray-light);
    transition: all ease-in 50ms;
  }

  &:active {
    transform: scale(0.95);
    transition: all ease-in 50ms;
  }
}

button {
  all: unset;
  position: relative;
  cursor: pointer;
  transition: all ease-out 300ms;
  font-family: "PP Neue Montreal", Arial, sans-serif;
  font-weight: 500;
  background-color: transparent;
  transition: background-color 400ms ease-in-out;

  &:hover {
    transition: all ease-in 50ms;
    color: var(--gray-dark);
    background-color: transparent;
  }

  &:active {
    transform: scale(0.95);
    transition: all ease-in 50ms;
  }
}

.off {
  display: none;
  cursor: default;
}

::selection {
  background: #ffce13;
}

/* Style the scrollbar background */
::-webkit-scrollbar {
  background: var(-text);
  width: 5px;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--text);
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.header a {
  font-size: 28px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border-radius: var(--radius-m);
  //background-color: var(--bg, white);
  cursor: pointer;
}

.headline {
  font-size: 18vw;
  letter-spacing: -0.03em;
}

iframe {
  width: 90%;
  border-radius: 20px;
  height: auto;
  min-height: 400px;
  aspect-ratio: 16/9;
  overflow: hidden;
  animation: fade-in 1s ease-in-out;
}

img {
  width: 100%;
  background-color: var(--bg-sec);
}

.content-wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}

.half {
  width: 50%;

  img {
    width: 100%;
    border-radius: 20px;
    animation: fade-in 2s ease-in-out;

    &:placeholder-shown {
      background-color: #6e32e1;
    }
  }

  &.xl {
    width: 75%;
  }

  &.s {
    width: 25%;
  }
  &.full {
    width: 100%;
  }
}

.cta-hero {
  display: flex;
  width: 100%;
  min-height: 12rem;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  font-size: calc((var(--widthA)) / 25);
  letter-spacing: -0.03em;
  border-radius: 80px;
  margin: 20px 0;
  color: var(--white);
  cursor: url(/cursor1.png), auto;

  &:hover {
    background-color: var(--accent2);
    color: var(--black);
  }
}

@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .wrapper {
    padding: 0;
    z-index: 999;
    overflow-y: scroll;
    min-height: 100dvh;
    height: fit-content;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-wrap: wrap;

    .mobile {
      display: flex;

      a {
        background-color: var(--bg-third);

        &:hover {
          background-color: var(--accent);
        }
      }
    }

    &.desktop {
      display: none;
    }

    * {
      z-index: 999;
    }

    h1 {
      padding: 1rem 8px;
      margin-bottom: 0;
      font-size: xx-large;
      letter-spacing: -0.25px;
      &.headline {
        font-size: 5.5em;
        letter-spacing: -3px;
      }
    }

    h2 {
      padding: 1rem 0.5rem;
      font-size: xx-large;
      line-height: 100%;
      margin-bottom: 0rem;
      letter-spacing: -0.25px;
    }

    p,
    h3 {
      font-size: 1.25em;
      padding: 0 0.5rem;
      margin-bottom: 1em;
      line-height: 120%;
    }

    .content-wrapper {
      flex-wrap: wrap;
      margin-bottom: 1em;
      border-radius: 1.5em;
      max-height: 40vh;
      overflow: hidden;
    }

    .half {
      width: 100%;

      .xl {
        width: 100%;

        p,
        h3 {
          font-size: 1.25em;
          padding: 0 0.75rem;
          margin-bottom: 1em;
        }
      }
    }
  }
  .cta-hero {
    display: flex;
    width: 100%;
    min-height: 6rem;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    font-size: xx-large;
    letter-spacing: -0.03em;
    border-radius: 80px;
    margin: 0.5rem 0;
    color: var(--white);
    cursor: url(/cursor1.png), auto;

    &:hover {
      background-color: var(--accent2);
      color: var(--black);
    }
  }
}
